@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css);

* {
    font-family: 'Special Elite', cursive;
    color: #303030;
}

body {
    padding: 0;
    margin: 0;
    background: #d3d3d3;
    text-align: center;
}

body .cont {
    height: 5em;
    cursor: pointer;
    width: 100%;
    position: relative;
}


body .search {
    position: relative;
    left: 0;
    right: 0;
    top: 40%;
    margin: auto;
    transform: translateY(-50%);
    width: 100%;
    overflow: hidden;
}

body .searchT {
    width: 280px;
    position: relative;
    margin: 0 auto;
}

body .searchT input[type="text"] {
    width: 15px;
    background: transparent;
    //transition: border 0.3s 0s, width 0.2s 0.3s cubic-bezier(0.225, 0.01, 0.475, 1.01), text-indent 0.2s 0.3s;
    padding: 20px;
    border-color: #fafafa;
    text-indent: 30px;
    outline: none;
    font-size: 14px;
    color: #212121;
    border-radius: 8px;
}

body .searchT ::-webkit-input-placeholder {
    color: #adadad;
    font-weight: 400;
    font-family: 'Special Elite', sans-serif;
}

body .searchT ::-moz-input-placeholder {
    color: #adadad;
    font-weight: 400;
    font-family: 'Special Elite', sans-serif;
}

body .searchT ::-o-input-placeholder {
    color: #adadad;
    font-weight: 400;
    font-family: 'Special Elite', sans-serif;
}

body .searchT input[type="checkbox"] {
    display: none;
}

body .searchT input[type="checkbox"]:checked + label + input {
    width: 230px;
    border: 3px solid #bb2020;
    text-indent: 0px;
}

body .searchT input[type="checkbox"]:checked + label i {
    right: 0px;
    transform: translateY(-50%) translateX(50%) rotate(360deg) scale(0);
    color: #202020;
}

body .searchT input[type="checkbox"]:checked + label .last {
    left: 220px;
    transform: translateY(-50%) rotate(360deg) scale(1);
}

body .searchT input[type="checkbox"]:checked + label p {
    top: 50%;
    transition: all .3s .45s;
}

body .searchT input[type="checkbox"]:not(checked) + label p {
    top: -50%;
    transition: all .3s 0s;
}

body .searchT .last {
    transform: translateY(-50%) rotate(0deg) scale(0);
}

body .searchT i {
    position: absolute;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%) translateX(50%) rotate(0deg) scale(1);
    cursor: pointer;
    z-index: 2;
    margin: auto;
    border-radius: 8px;
    width: 56px;
    right: 50%;
    height: 54px;
    background: transparent;
    transition: right .3s .3s, transform .3s .3s, color .3s;
    line-height: 60px;
    color: #703030;
}

body .searchT i:hover {
    color: red;
}

body .searchT p {
    position: absolute;
    margin: 0;
    right: 52px;
    font-weight: 700;
    font-size: 30px;
    top: -50%;
    transform: translateY(-50%) rotate(0deg) scale(1);
}

ul {
    list-style: none;
    text-align: left;
    padding: auto 40px;
    padding-right: 40px;
    margin: 16px auto;
}

ul li {
    background: linear-gradient(160deg, #c8c8c8, #d4d4d4);
    border-radius: 8px;
    padding: 1em 1em;
    margin-bottom: 2em;
}


ul li a {
    text-decoration: none;
}

ul li a h2 {
    color: #bb2020;
    font-size: 16px;
}

ul li a p {
    color: #bb2020;
    font-size: 12px;
}

ul li a:hover h2 {
    color: red;
    font-size: 22px;
}

ul li a:hover p {
    color: red;
    font-size: 18px;
}
